<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected Page</title>
</head>

<body>
    <h1>This is a protected page/route</h1>
    <button onclick="
        // document.cookie -> can only access the cookies with httpOnly: false
        const csrfToken = document.cookie.split('=')[1];
        fetch('/auth/signout', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'x-csrf-token': csrfToken
            },
            credentials: 'include'
        }).then((data) => {
            console.log('response: ', data)
            window.location.href = '/auth/signin'
        }).catch((err) => {
            console.log('error in signing out: ', err)
        })
    ">
        Sign Out
    </button>

    <button onclick="
        console.log('clicked')
        const modalWrapper = document.querySelector('.confirmation-modal-wrapper');
        modalWrapper.style.display = 'flex';
    ">
        Delete Account
    </button>

    <!-- delete button confirmation modal overlay -->
    <div class="confirmation-modal-wrapper"
        onclick="document.querySelector('.confirmation-modal-wrapper').style.display = 'none'"
        style="display: none; position: fixed; top: 0; left: 0; height: 100%; width: 100%; justify-content: center; align-items: center;">
        <div class="confirmation-modal" onclick="event.stopPropagation();"
            style="background-color: burlywood; height: 140px; width: 200px; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 5px;">
            <div style="display: flex; flex-direction: column; justify-content: center; padding: 10px;">
                <label for="password">Enter Password to Delete Account</label>
                <input type="password" placeholder="password" name="password" required>
            </div>
            <div class="modal-buttons-box" style="display: flex;">
                <button onclick="document.querySelector('.confirmation-modal-wrapper').style.display = 'none'">
                    Cancel
                </button>
                <button type="button" onclick="
                        const _csrfToken = document.cookie.split('=')[1];
                        const password = document.querySelector('input[name=password]').value.trim()
                        if (!password) {
                            alert('Password is required')
                            return;
                        };
                        fetch('/auth/delete-account', {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json',
                                'x-csrf-token': _csrfToken
                            },
                            credentials: 'include',
                            body: JSON.stringify({
                                password: password
                            })
                        }).then((data) => {
                            console.log('server response: ', data)
                            if (data.ok) {
                                window.location.href = '/auth/signup'
                            }
                        }).catch((err) => {
                            console.log('error in deleting account: ', err)
                        })
                ">
                    Delete
                </button>
            </div>
        </div>
    </div>


</body>

</html>